
.bg { 
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  /* Full height */
  height: 100vh ;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contain{
height: 100vh;
}

@media (max-width: 767px) {
  .divhigh {
      width: 100%;
      
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .divhigh {
      width: 100%;
      height: 50px;
      align-items:center;
      
  }
}
@media (min-width: 1024px) {
  .divhigh {
    margin-top: 20px;
    position: relative;
      width: 100%;
      height: 50px;
      align-items:center;
      justify-content: center;
      
  }
  .center {
    margin-top: 5px;
    
    
}}